<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.test.TestKeystore"
            android:label="aaa" >
        </activity>
        <activity
            android:name="com.example.test1.CreateNewOther"
            android:label="@string/title_activity_create_new_other" >
        </activity>
        <activity
            android:name="com.adroid.homework.CreateSelf"
            android:label="@string/title_activity_create_self" >
        </activity>
        <activity
            android:name="com.example.android.contact1.ManageCard"
            android:label="@string/title_activity_manage_card" >
        </activity>
        <activity
            android:name="com.example.android.contact1.CreateSelf"
            android:label="@string/title_activity_create_self" >
        </activity>
        <activity
            android:name="com.example.android.contact1.CreateOther"
            android:label="@string/title_activity_create_other" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>